[2019-12-12 14:28] JohnnyRS commented on #5
More complicate due to separate timer for searches so using a different class. Will work on at the end.

[2019-12-12 14:28] JohnnyRS commented on #1
Should be fixed but need to find a good batch to test it on.

[2019-12-12 17:01] JohnnyRS opened #1 "Panda Add Button"
No button to add panda's!

[2019-12-12 17:02] JohnnyRS opened #2 "No way of saving Panda's"
Can't save panda's that are added.

[2019-12-12 17:02] JohnnyRS opened #3 "Tabs for organizing Panda's"
Tabs are missing right now.

[2019-12-12 17:03] JohnnyRS opened #4 "Queue Max Alarm"
When queue is maxxed it just goes without telling the user.

[2019-12-12 17:04] JohnnyRS opened #5 "Panda Search Mode"
No Panda Search Mode yet.

[2019-12-12 17:05] JohnnyRS opened #6 "Not showing Queue list"
Where is the queue list?

[2019-12-12 22:32] JohnnyRS commented on #3
Working on it now. Got multiple tabs working. Just need to get the add tab button to work.

[2019-12-12 22:33] JohnnyRS opened #7 "Highlight card color stayed on"
After collecting a hit the highlight color stayed on after. Need to be checked and tested.

[2019-12-13 01:30] JohnnyRS commented on #7
I believe this happens when it collects one panda and it stops because there was only one hit to get. I believe I got it fixed by stopping all animation and let it finish it. Need to test tomorrow.

[2019-12-14 14:34] JohnnyRS commented on #3
Tabs work now. Can move panda's around and into tabs. Can create a tab with a label. Can delete a tab. Can rename a tab. Will work in next commit.

[2019-12-14 14:34] #3 closed, assigned to JohnnyRS

[2019-12-15 04:47] JohnnyRS commented on #7
This has been fixed in the next commit.

[2019-12-15 04:47] #7 closed, assigned to JohnnyRS

[2019-12-15 04:48] JohnnyRS commented on #1
Can now add panda's with more details if needed.

[2019-12-15 04:48] #1 closed, assigned to JohnnyRS

[2019-12-15 04:51] JohnnyRS opened #8 "Ham timers are not working"
A panda can go in ham mode but will not change timer to the ham mode timer.

[2019-12-15 04:51] JohnnyRS opened #9 "Groupings are not working"
Groupings to add more than one panda at once is not working.

[2019-12-17 18:11] JohnnyRS commented on #6
I just moved queue class in the background and is now getting results but not displaying just yet. The queue results are being used for panda limits only at this time. Queue display is not a priority right now.

[2019-12-17 18:14] JohnnyRS commented on #5
Moved the timer class to the background so it can handle multiple timers if needed. I use 3 timers now. A panda timer, search timer and a queue timer because they are all on different pre timers. Not too sure if the queue timer is on a timer of it's own so I need more testing but I am sure the search timer will not cause panda PRE's. Now to add the ability to have panda searches.

[2019-12-18 17:19] JohnnyRS commented on #8
Ham timers are now working in next commit. It takes into account the difference between the regular timer and ham timer so it won't run too early or too late.

[2019-12-18 17:19] #8 closed, assigned to JohnnyRS

[2019-12-22 22:25] JohnnyRS commented on #9
Groupings structure has been finished. Working on a way to add and edit groupings.

[2019-12-22 22:27] JohnnyRS commented on #4
I got alarms working so now just to put the alarms in the correct places.

[2019-12-22 22:27] JohnnyRS commented on #2
Will be added once I get all the features from the original over.

[2019-12-22 22:29] JohnnyRS opened #10 "Importing and Exporting"
No way to export or import at this time.

[2019-12-22 22:31] JohnnyRS opened #11 "Ability to turn on panda's or groupings at a specific time"
I think this would be great to have as a new feature.

[2019-12-22 23:02] JohnnyRS opened #12 "Faster way to delete multiple"
Will now be able to delete panda's by [CTL] clicking the x button on all the ones you want deleted. Then click on the x button on any of the panda's to be deleted to delete all the ones you selected.

[2019-12-29 01:46] JohnnyRS commented on #9
Groupings are now finished and looks a bit better than original. Some new features will be added later to it.

[2019-12-29 01:46] #9 closed, assigned to JohnnyRS

[2019-12-29 01:48] JohnnyRS commented on #6
The queue results are now being displayed on the bottom in the queue watch. Still need to make sure there are no bugs or memory leaks. Need to add return link and job link.

[2020-01-05 02:16] JohnnyRS commented on #6
Queue results are working very nicely. Works better than the original. Queue alarms and alerts are working as well. Need to add return link and have the queue get updated when a hit is accepted.

[2020-01-19 21:59] JohnnyRS commented on #6
Return link added and continue link. Still in process of testing.

[2020-03-03 02:59] JohnnyRS opened #13 "Timer problem"
Found a bug with the timer using a very low time which shouldn't be happening but only happened once out of 3 months of using it so will be double checking everything soon. Also will be adding more debugging stuff to catch that bug. Might be from adding panda's from searching.

[2020-03-03 03:02] JohnnyRS opened #14 "New database soon"
Soon will be working on a database to handle all the hits data, info and errors instead of putting all of it in memory.

[2020-03-03 03:05] JohnnyRS commented on #12
This is working but might make it a bit easier by using [CTRL] clicking the hit cell instead of the small x button. Could also be used to start multiple hits at once or move hits to the search timer.

[2020-03-07 14:02] JohnnyRS opened #15 "Queue Watch"
Bug in queue watch where it didn't show one hit in queue. It was a similar hit to others so that might have confused it. Need to go through and do some testing and check for errors. Only saw it once after months of using it so it can be a very tricky bug.

[2020-03-07 14:06] JohnnyRS commented on #5
The search timer will be separate and may be in another window. This will be a major upgrade and faster way to do search panda's. Every time it does a search it will check for all searches at once instead of the way it does now in the userscript where each search is done separate which is redundant. Been testing it and works great.

[2020-04-24 12:06] JohnnyRS commented on #15
Bug should be fixed. Queue watch code rewritten a bit and now has a duplication check so if it happens again it should correct itself.

[2020-04-24 12:06] #15 closed, assigned to JohnnyRS

[2020-04-24 12:08] JohnnyRS commented on #14
Database class has been created using indexedDB. Testing it with a debugging class first to make sure everything works before I start using it for saving data.

[2020-04-24 12:08] JohnnyRS commented on #6
Seems to be working perfectly now.

[2020-04-24 12:08] #6 closed, assigned to JohnnyRS

[2020-04-24 12:12] JohnnyRS commented on #2
Database class using indexeddb has been added. Panda's will be saved with this in the future. Hoping to use this instead of keeping everything in memory.

[2020-04-25 17:58] JohnnyRS opened #16 "Logged Off Detection"
There are times that many logged off warnings can be displayed on a slow connection. Should have a counter so multiple warnings won't be shown. Also logged off warning should be shown even if collection is off. Grabbing queue in background will detect logged off when not collecting anything.

[2020-04-26 01:44] JohnnyRS commented on #16
Fixed it now by having it limit warnings to only 1. It will also detect a log off if no collection is done by checking the queue in the background so it can tell any windows opened to give a log off warning.

[2020-04-26 01:44] #16 closed, assigned to JohnnyRS

[2020-04-26 01:46] JohnnyRS commented on #14
Debugging class using a database is working very nicely when adding to it. Still need to write code to have the program read from database so I can start the process of saving panda's and options.

[2020-04-30 21:16] JohnnyRS commented on #13
Changed a few things and added more detail debugging to catch any bug if there is one.

[2020-04-30 21:18] JohnnyRS commented on #12
Made it so that [CTRL] clicking on a panda cell will mark it for deletion. This should be easier than trying to click on the small x all the time. To delete all selected just click in any x and it should delete all selected. Thinking of other ways of faster deleting but haven't tested anything just yet.

[2020-04-30 21:22] JohnnyRS commented on #5
I moved the search stuff to the background. It will be using a separate timer. Searches are in a separate page also but for people coming from older PandaCrazy it will show it in the pandaCrazy UI but I want to move all searches to a separate UI page. Search UI page has it's own stats. It only checks all search triggers once which means multiple searches won't slow the timer down. It may slow down

[2020-05-06 17:41] JohnnyRS commented on #5
Searching by group ID is now working with or without the search UI page. This feature is new to searching. Allows to search surveys easily from forums and after 6 seconds it moves to the search timer which frees up more time for regular panda's. Searching by requester ID is next thing to be added but just need to figure out how to have it represented in the panda UI and a way to have it added from

[2020-05-08 03:11] JohnnyRS commented on #13
Found a nasty bug where multiple timeouts could be set in one timer which can make the elapsed time way too fast. Corrected it by checking that a timeout has not been set yet before setting a new timeout. Closing this because this is what I saw months ago and finally was able to reproduce it today.

[2020-05-08 03:11] #13 closed, assigned to JohnnyRS

[2020-05-08 03:15] JohnnyRS commented on #5
Searching by requester ID is now working with or without the search UI page. This is equivalent to the old search mode on Pandacrazy but it will only search the new hits instead of doing a search on the requester ID. This allows multiple requester searches without slowing down other searches. May add a way to allow a search to do a search on requester ID but limited.

[2020-05-09 15:28] JohnnyRS commented on #2
First test of adding panda's to the indexeddb was successful. Now to test using the database for grabbing data and see how fast it is so I can figure out a good way of lowering memory use.

[2020-05-09 22:56] JohnnyRS commented on #2
Test of adding panda's from indexeddb was successful which means it can save and load panda's now. The speed test for loading data from database seemed fast enough so most panda information will be in database instead of memory saving lot of space compared to the original pandacrazy.

[2020-05-11 19:34] JohnnyRS commented on #14
Now I got it adding, updating and deleting from the database. It seems fast enough so all panda data is now saved in the database and brought into memory when collecting or editing. Minimal data is saved in the UI jquery data just to pull up database information. Going to test it more with other data storage for options, tabs and detail stats. Should save a lot more memory.

[2020-05-11 19:35] JohnnyRS commented on #12
This seems to be working really nicely. A lot faster than pushing x each time or [CTRL] clicking x.

[2020-05-11 19:38] JohnnyRS commented on #2
Decided to put all panda information in the database and loaded into memory when collecting or editing. So the only stuff left in memory are unique keys to load up data from database and info displayed in the UI cards. Hoping this will save a lot of memory.

[2020-05-14 15:38] JohnnyRS commented on #14
All database are working. Can add, delete and update data for panda's, options, stats, tabs, groupings and alarms. Hoping loading times will be low so it won't slow program down too much.

[2020-05-14 15:38] #14 closed, assigned to JohnnyRS

[2020-05-14 15:40] JohnnyRS commented on #11
I added a data for starting and ending groupings at a specific time. Just need to let users change this data and figure out how to get this to work properly.

[2020-05-14 15:41] JohnnyRS commented on #2
Panda's are being saved correctly. Data is loaded only when needed. Will keep watching memory usage and if it slows down program speed too much.

[2020-05-14 15:41] #2 closed, assigned to JohnnyRS

[2020-05-21 02:39] JohnnyRS commented on #11
This has been finished and now can start a group at a specific time each day for a specified amount of hours and minutes. This is the only way to start panda's automatically. I went with this option because it's easier to check groups than each panda. Thinking about a turn off option for weekends.

[2020-06-09 17:52] #12 closed, assigned to JohnnyRS

[2020-06-28 13:04] JohnnyRS commented on #10
Working on importing and exporting now. Got it importing from older import files and verifies the data before doing anything with it.

[2020-07-01 19:00] JohnnyRS commented on #10
Importing of jobs and tabs are working now from new and older exported files. Found that the load time when there are 50 or more jobs takes a while so will be looking to speed things up.

[2020-07-01 19:12] JohnnyRS opened #17 "Slow loading times with large amount of jobs."
Not exactly a bug but when importing 82 jobs it took more than 10 seconds so I want to check if there is any way of speeding it up. The loading of 82 jobs at start seems quick though. Not sure where the slow down is right now.

[2020-07-01 21:39] JohnnyRS commented on #17
Adding jobs to the database is where the slowness happens. It needs to be changed so multiple jobs get added at once instead of one at a time.

[2020-07-01 21:43] JohnnyRS opened #18 "API needs to be added for script to script communications."
Need to add the messaging commands from other scripts so HitForker and others will work properly.

[2020-07-01 22:52] JohnnyRS commented on #17
Importing is a lot faster now. Imported 82 jobs in 1.4 seconds. I will recommend people not to save up more than 500 jobs but even that would probably be around 5 seconds import time. I'll keep looking at better speed performance but importing is done very rarely anyway. Startup loading time for 82 jobs is less than 1/2 a second and could be sped up faster if I needed to.

[2020-07-01 22:52] #17 closed, assigned to JohnnyRS

[2020-07-01 22:57] JohnnyRS opened #19 "Log tabs adjustable"
With the new UI using bootstrap instead of Jquery UI helped a lot with lower memory and speed but wasn't able to add changing the height of tab areas. Will be looking at a way to add that feature back in by request. Shouldn't be that hard just need time to figure out the best way of doing it.

[2020-07-03 21:44] JohnnyRS commented on #10
Worked out the load time at import. I got it importing 416 jobs for about 3 seconds and load up at startup is around 2.2 seconds. Which is a lot better and I wouldn't recommend having over 400 jobs saved anyway. Working on importing options and groupings next.

[2020-07-04 00:18] JohnnyRS opened #20 "Check memory usage."
The memory being used is a lot lower than the original but may be lowered even more. Already patched some small memory leaks. Might want to look at loading more data from the database instead of leaving some in memory. Class methods could make it easier to load data in memory when data is not in memory instead always having to remember to load the data before accessing data. Use the information in

[2020-07-04 00:26] JohnnyRS opened #21 "Loading data at startup."
Would like to see if the loading at startup could be a bit faster. Won't make a difference for less than 100 jobs but when loading 416 jobs in 2.2 seconds it seems a bit too slow to me. Over 400 jobs would be rare BUT because the searches can be done a lot faster that means more search jobs can be allowed. Maybe search jobs can be loaded only from database or another way of holding the search opti

[2020-07-05 19:29] JohnnyRS commented on #21
I have the cards added to the tab content after they are all loaded. Loading 416 jobs in little bit less than a second now. I am satisfied with that. Only other thing is letting the search jobs be in a database of it's own and have data loaded from the database always for searches because lot of search jobs will be allowed now.

[2020-07-05 19:32] JohnnyRS commented on #20
More jquery memory leaks fixed. Panda class now has methods to load in data when needed which should make it smoother. Will recheck all info for non collecting jobs to see if they are needed in memory or could be loaded only at collecting times.

[2020-07-05 19:34] JohnnyRS commented on #19
I have it resizing the tab content area when users create many tabs that cause it to use two lines. This can be used with the queue watch adjusting for the future.

[2020-07-08 20:03] JohnnyRS commented on #18
First step has been taken to receive message commands from external script like hitForker. Now to pass the commands on to the extension.

[2020-07-10 13:03] JohnnyRS commented on #18
The important commands for the API should now work for all scripts that sends messages to old PandaCrazy including hitForker.

[2020-07-10 13:03] #18 closed, assigned to JohnnyRS

[2020-07-10 13:05] JohnnyRS commented on #21
I am satisfied with the load times for the data. Search jobs will be handled by the search class later.

[2020-07-10 13:05] #21 closed, assigned to JohnnyRS

[2020-07-10 13:06] JohnnyRS commented on #20
The memory is doing a lot better now. I will constantly monitor the memory use as I add more features. Search class needs to be loaded from the database but that's for later.

[2020-07-10 13:06] #20 closed, assigned to JohnnyRS

[2020-07-12 21:45] JohnnyRS commented on #10
Script will verify options and groupings but does not import them just yet. Need to make a final decision on what options are needed and newer options to add before I am comfortable importing older options.

[2020-07-12 21:48] JohnnyRS commented on #5
Worked on getting the search jobs going a lot faster by using strings instead of traversing objects. Worked on separating the pandaUI and searchUI triggers to make things more organized for future development. Gid and Rid searches are working nicely and can be added with the add job.

[2020-07-14 15:06] JohnnyRS commented on #4
Alarms can now be changed just like the original script. Muting and Text to speech is now working as well. Still have to save the alarms and make a judgement on the format of saving. Still need to work on the exporting alarms too. Then test everything to make sure the alarms sound when needed.

[2020-07-17 23:01] JohnnyRS commented on #19
This should now be working with a small area on the bottom right which can be pulled up or down. This needs to be tested more but I feel satisfied it should be good.

[2020-07-17 23:01] #19 closed, assigned to JohnnyRS

[2020-07-18 16:34] JohnnyRS commented on #4
The queue Max Alarm is working now and all alarms should be able to be changed, muted or use text to speech.

[2020-07-18 16:34] #4 closed, assigned to JohnnyRS

[2020-07-30 10:10] JayblaqF8 opened #22 "New Panda Adon"
Hello,
The lastest update of Panda seems buggy
GOHAM wont last more than 7secs
Most HITs stops automatically
ETC
By the way, your work is really appreciated, thank you.

[2020-07-30 13:47] JohnnyRS commented on #22
Thanks! Yes the GOHAM isn't supposed to do that when manually set. Need to fix it. But jobs automatically added from search jobs or externally starts off with GOHAM and will turn itself off after 7 seconds. Jobs manually collecting with the jobs button shouldn't stop unless there is a limit. Jobs automatically added by a search job or externally does have a duration time which it will stop. The au

[2020-08-01 15:30] JohnnyRS commented on #22
GoHam duration should be fixed now when pressing the GoHam button. I did find some problems with jobs turning off when added externally which now has been fixed. Next update should be ready today or tomorrow.

[2020-08-01 15:30] #22 closed, assigned to nobody

[2020-08-01 15:32] JohnnyRS commented on #10
Importing of all options should be working in next update. Alarms was the last thing to complete but I still want to add a way of only updating alarms instead of all jobs so that's for later. The exporting does not work yet but now I know what I need to export for the importing to work too.

[2020-08-01 15:37] JohnnyRS commented on #5
I am trying to isolate the search jobs separately from the panda jobs so this next update helps me in that direction. All search jobs are saved in it's own database and is referred as triggers. Triggers have rules and options. There will be three triggers: Requester Id search, Group Id search and Scan search. Scan searches will be able to search for terms, pay rates or other stuff but there will b

[2020-08-03 18:50] JohnnyRS commented on #10
Importing and exporting will now work correctly. Importing of older files are accepted too. Alarms are now being exported and imported as well. Few more tests and it will be live.

[2020-08-03 18:50] #10 closed, assigned to JohnnyRS

[2020-08-03 18:52] JohnnyRS opened #23 "Allow search options in panda UI"
Need to give users access to the search options for blocking id's and excluding terms. Probably will add a tab in the details modal.

[2020-08-03 18:56] JohnnyRS opened #24 "Scan search triggers addition"
Need to allow a user to add a scan search trigger to scan for terms or pay rates. This will be done on a separate page called the search UI. All searches will be shown there because now many searches can be added and it won't slow down any panda jobs. This will save memory too. No need to clutter the panda page with hundreds of search triggers if needed. Search UI needs to be built first though.

[2020-08-03 18:58] JohnnyRS opened #25 "search UI"
The search UI needs to be rebuilt so it looks better and the ability to add any of the three search jobs. Also needs a way to transfer a search job from the panda UI to the search UI.

[2020-08-10 17:00] JohnnyRS commented on #23
Search options has been added into the details section of a search job. Some options still may not work but blocking, excluding and including will work.

[2020-08-10 17:01] JohnnyRS commented on #25
The UI looks a lot better and loads in quickly. Still needs a lot of testing before search UI is accessible.

[2020-08-20 20:37] JohnnyRS commented on #24
I made the decision to name this custom search triggers instead of scan. It has been added but user can't add any yet. Still hasn't been tested too.

[2020-08-20 21:45] JohnnyRS opened #26 "Themes"
I am hoping to allow themes for the extension in the future. I started off with a dark theme. I haven't decided how themes will be added yet. Could be a premade theme that I create like the original or a css file that gets added which allows any user to make their own theme. I am hoping to get the latter working but I need to do research and make some decisions first.

[2020-08-27 00:38] JohnnyRS commented on #25
SearchUI is coming along well. Uses can add requester triggers and group id triggers. Users can delete triggers the same way it is done in the panda UI. Multiple deletion is done by ctrl selecting each trigger and then clicking on any of the selected delete button. To deselect triggers just alt click the delete button of any trigger. I still need a way to sort triggers in different ways. Custom se

[2020-08-27 00:43] JohnnyRS commented on #24
Custom searches have been tested and is faster than I thought it would be. Complicated custom searches may slow things down but will have to do more testing. A custom search has to have a term to search and it must be over 3 characters. Spaces will be allowed but limited to maybe 10 to 15 characters. Once a term is found it will go to the triggered hits tab and some kind of alert will be sounded.

[2020-08-27 00:45] JohnnyRS commented on #23
Most options seem to be working so closing this issue. Still need to add a button to send a search job to the search UI once that page is finished. I also want to add a button to regular panda's to create or convert it to a search job.

[2020-08-27 00:45] #23 closed, assigned to JohnnyRS

[2020-08-27 00:47] JohnnyRS commented on #5
Closing this issue because search jobs are done and working. Working on the search UI for the custom searches to start working and that's where things will get interesting.

[2020-08-27 00:47] #5 closed, assigned to JohnnyRS

[2020-08-31 15:10] venkatesan48 opened #27 "PRE's Increasing"
Whenever internet connection is slow or unstable, PRE's increasing very faster.
Please resolve this issue...

Thanks.,

[2020-09-27 00:23] JohnnyRS commented on #24
Custom searches can now be added. They must have a word to search on, a minimum price and the name of the search trigger you want it to be called. At this time all found hits with the given word and pay will be shown on the custom triggered hits tab. You can try to collect it or collect it once with the given button. The TV link on the left side is a link to turkerview summary page for that reques

[2020-09-27 00:23] #24 closed, assigned to JohnnyRS

[2020-09-27 00:25] JohnnyRS commented on #25
Double clicking on a trigger will enable it or disable it. Clicking on a trigger will show how many hits it found and a button to show all the hits it found for easy blocking also.

[2020-10-01 04:32] IEagleeye opened #28 "Checkall checkbox Needed"
![Need a checkall checkbox](https://user-images.githubusercontent.com/72181462/94768288-097e4e80-037d-11eb-9680-57a766bf6323.gif)

A checkall checkbox is needed in checking multiple non collecting pandas. Thank you

[2020-10-06 00:16] JohnnyRS commented on #28
Thanks. That's a good idea. Will see what I can do in the next update.

[2020-10-07 01:28] JohnnyRS opened #29 "Search trigger not turning on."
Caught a bug that didn't allow searching to turn on if there wasn't a custom trigger created. This will be fixed in the next update tomorrow. Will be rechecking everything before the update gets done.

[2020-10-07 17:37] JohnnyRS commented on #29
This has been fixed with the 0.8.8.4 update today.

[2020-10-07 17:37] #29 closed, assigned to JohnnyRS

[2020-10-07 17:40] JohnnyRS opened #30 "Sound alarm when custom trigger finds a hit."
Need to add an options button on the search UI so alarms can be changed and allow other options for search triggers to be changed too.

[2020-10-11 17:53] aberfan commented on #26
Not sure if this is the proper place to ask, but can there be some way of disabling the flashing on the GID for jobs which are active? It's very distracting and annoying!

Also, can there be an option to have the volume slider horizontal, as it was? On my widescreen monitor, it's sub-optimal to only use 1/4 of it. I use the volume a lot when I switch between speakers and headphones.   Additionally

[2020-10-11 21:18] aberfan opened #31 "General UI Issues"
In case these aren't known:

- Renaming tabs sometimes doesn't take. No error, but on reload they're back to a previous name. Workaround is exporting and then importing back.

- Can't mute individual jobs.

- Dialog for deleting, for jobs or queue, requires 3 keys now. Focus should be on "Yes" to allow optimal behavior. Really annoying clicking on "Return" and then having to tab three times and fi

[2020-10-11 22:26] JohnnyRS commented on #26
Thanks! I can add an option for the GID flashing later. I was thinking it might make it easier to see how the script goes through each job this way.

The volume could be an option later too. Good idea.
I am still thinking about how I want to do the themes. I'm considering just a file with css stuff that can be added and the script will use it instead of the default. Still need to organize a lot of

[2020-10-11 22:40] aberfan commented on #26
Hi, thanks for the response!

I've always just watched the (now labeled) "Fetched" number to see when it has fired, which is helpful, so the flashing seems a bit much to me.

The layout of volume was definitely perfect before.

What I mean about menu is to do something like:
☰ [Volume Slider]  [ 1] [ 2 ] [ 3]
^ Just this, and maybe move the 'Pause', 'Start Group' 'Stop All' up to the left of that,

[2020-10-11 22:43] JohnnyRS commented on #31
Thanks for letting me know about the tabs. Will have to look at it to see what is happening. I don't use tabs regularly so didn't know.

Clicking return should delete automatically in the delete dialog. I'll have to recheck it or make sure the yes if focussed. Could be the difference between computers too. Not sure. Either way I did find another bug with the deleting jobs that I need to fix.

Retu

[2020-10-11 22:58] aberfan commented on #31
For the return, I think it is just  a need to focus 'Yes".

For the queue bit, I understand the reasoning there. If you just removed it from PC and it wasn't actually removed, it'd be weird to see it suddenly come back on the next refresh.  The way it is now, though, if you have a longer refresh (which I do) is if you're trying to go through and delete a lot of hits, you can't just do it from the

[2020-10-15 00:15] JohnnyRS commented on #31
The new update should have the delete dialog use return key for the yes button.
Renaming tabs should now save the new name.

The rest I'll be checking out for future updates.

[2020-10-15 00:25] JohnnyRS commented on #26
Yes I am using bootstrap for some stuff but the colors are limited so I like having more freedom by using css more. Once I get thinking about the themes I'll figure out something.

The problem with hiding a lot in menus is the inexperienced users may never know all the options they can use because most don't read instructions. I do need to put more stuff in the wiki soon just for that reason. The

[2020-10-15 00:42] aberfan commented on #31
Nice! Thanks for the update!

Some notes from using this:
+ There's some bug with that flashing thing. I can't give a way of replicating yet, but it definitely exists: Run a job for awhile, and turn off collecting, and the GID continues blinking, and nothing stops it short of reloading. (That is, switching tabs, starting and stopping that job again, or others, etc).  This doesn't happen all the ti

[2020-10-15 00:52] aberfan commented on #26
I don't know anything about the bootstrap options, beyond that you can just switch to "solarized" or whatever, and have things change. If it gives less freedom, that's bad.   What's unfortunate is there's no way on this end to customize.  I could go edit the css, obviously, but on the next update, won't it just get overwritten?  Is there any super easy way from your end to allow overrides on this

[2020-10-20 22:58] JohnnyRS commented on #31
You can now mute jobs by clicking on the mute button in the details dialog or right clicking on the panda job. Should give you a dotted border when a job is muted.

The bug with the flashing groupid is because the window was minimized or you went to a different tab. Chrome stops all animations when that happens but not the timing like the original script. I stopped the animation when the script is

[2020-10-20 23:08] JohnnyRS commented on #26
Right changing the CSS would be overwritten so you would have to redo it again. Also if I add, delete or change something in the CSS file which i do a lot then you might miss those changes. My idea for themes is a separate file that a user can direct the script to use as a CSS file which then changes the look. This file can be shared with others so there can be limitless amount of themes out there

[2020-10-21 03:24] aberfan commented on #31
Thank you for the explanations and the fixes.

Regarding the search trigger, does having "Stop collecting after (seconds)" at 0 now work to stop it from automatically stopping after 12 seconds? It's unfortunate when the created panda stops actually collecting at all; my usage, for example with UNU, it can still grab within a few minutes to the end of the hour, and there's also surveys where people

[2020-10-22 00:50] JohnnyRS commented on #31
The stop collecting option should be above 0. That's a bug. No automation from search jobs should let a panda job collect with no limits. The user is the only one who should make that decision. So the way to allow it to collect for an hour is to put in 3600 for the seconds. Right now there is a bug that doesn't set the min or the max to some of those options. You can also turn off the panda job an

[2020-10-22 01:25] aberfan commented on #31
Thank you for the comprehensive response. So from what you're saying, I just need to set the "Stop Collecting" to 3600 or whatever and it'll work properly?  Trying to change the 'Stop collecting after (seconds)' doesn't seem to allow a value higher than 120.

For the rest, what I'm understanding you saying is that because you don't trust users to know what they want, you're doing non-intuitive beh

[2020-10-22 02:23] JohnnyRS commented on #31
Correct setting it to 3600 will work but the min and max is broken so that will be fixed in the next update.

Actually it's the opposite from my experience. I see and get many questions about why they aren't getting hits when they have 50 panda jobs running. I also see many questions about the color meanings but that is in the help page. So new users usually won't read instructions and I have to t

[2020-10-22 03:08] aberfan commented on #31
Great! ;)

This way of thinking seems so alien to me, because you can never know what is a mistake for someone else or not. If someone isn't going to bother to read the help, why invest more effort for them, rather than people who care enough to? I'll note I've spent a lot of quality time on your website reading the docs. :-)

This seems to contradict itself; if you trust the user, then why is the

[2020-10-29 22:34] JohnnyRS commented on #30
Alarm for custom search jobs has been added. Should also allow text to speech to work. Might add a notification later too.

[2020-10-29 22:34] #30 closed, assigned to JohnnyRS

[2020-11-07 17:18] JohnnyRS commented on #25
Search UI is done now after adding the automated custom hit button and options. Now to refine everything and make sure everything works properly.

[2020-11-07 17:18] #25 closed, assigned to JohnnyRS

[2020-11-07 17:19] JohnnyRS commented on #28
The checkall button has been added and should work properly.

[2020-11-07 17:19] #28 closed, assigned to nobody

[2020-11-08 14:38] JohnnyRS commented on #26
Just tested a way to do themes and it worked nicely. A user will be able to create a file of their own with their own css styles. There will be a way to import that file similar to importing old data. When a user imports a css file then the script will load in that file with all the themed styles instead of the default values. This should give the user complete control of colors, fonts, sizes and

[2020-12-07 22:15] aberfan commented on #26
I notice in the latest commit the addition of the theme support, as well as volume slider option and other great fixes. Just wanted to say thanks for your efforts and this wonderful extension! :)

[2020-12-07 22:18] #31 closed, assigned to nobody

[2020-12-08 15:15] JohnnyRS commented on #26
Yes Theme support is finished. I still need to finish an example theme for reference but I do have theme documentation done in the advanced section of the wiki. The extension is now in its final stages. I'm still working on the queue helpers and making sure external scripts still work. But very soon it will be ready for the chrome store.

[2020-12-21 20:16] papitee commented on #11
hi.. the recent update is not adding hits from hit forker pls can you fix this
when trying to add hit from hit forker its say panda crazy not running

[2020-12-21 21:25] JohnnyRS commented on #11
I just tested it and it seems to work for me. What url are you using for hit forker? this is what works for me: https://worker.mturk.com/?hit_forker
I am also testing it on hit forker version 1.2.4

[2020-12-22 01:04] JohnnyRS commented on #11
Nevermind. I see what is happening. I only tested one button to see if it worked but after the first one no other buttons worked. I'll see if I can fix that today or tomorrow. Thanks for finding it. Need to check other external scripts if they do the same thing.

[2020-12-22 01:23] JohnnyRS commented on #11
Got the hit forker buttons working in the version: 0.9.17

[2020-12-22 01:35] JohnnyRS opened #33 "Extension is now on the final testing stage."
Everything I wanted to add to the extension is now finished. It should do everything that the old script did including the panda crazy helper and queue helper. The helper options are in the popup when clicking on the extension icon when a mturk page is opened. This week I will be testing all the options, buttons and stats to make sure they work and does what they should do. If there is any problem

[2020-12-22 01:36] JohnnyRS commented on #26
Themes are completed and working well. I'll soon be adding an example theme somewhere that makes it look like the original script.

[2020-12-22 01:36] #26 closed, assigned to JohnnyRS

[2021-01-07 14:02] #11 closed, assigned to JohnnyRS

[2021-01-07 14:11] JohnnyRS commented on #33
The extension has been submitted to the chrome webstore and has been approved. You can now install it from the webstore at: https://chrome.google.com/webstore/detail/pandacrazy-max/gefompgkggmjbcihdkdbfddhjnnceipm

If you have installed the extension manually from here and want to use your data with the webstore extension you should export the data with the alarms. Remove the extension you manuall

[2021-01-09 21:02] ando100 opened #35 "Every reload of PandaCrazyMax page shrinks the job cards section."
When to reload the PandaCrazyMax page-> the screen section with job cards shrinks with every reload and
eventually is not visible.
When to import some older jobs file-> can see the cards again, but not the newest.
When to import latest newest jobs file-> where the screen with jobs already is not visible->
it is not visible with the import as well.
Also can not drag the space line ->between section

[2021-01-27 16:34] JohnnyRS opened #37 "Total earnings may have wrong total"
When using two or more tabs while working on HITs the extension may wrongly detect a submit from a HIT you are working on. This also may happen when returning a HIT. This is due to how mturk displays the submitted HIT message after a quick page redirect from the extension. I have some fixes I will be testing. If the earnings look wrong just click and hold your mouse button on the earnings to have

[2021-01-27 16:43] JohnnyRS opened #38 "Triggers should check for older HITs when enabled"
Search triggers should check for any HITs that have already been added to MTURK when it is enabled. Right now it only checks for new HITs on the search page. This will give a user a way to force it to check for older HITs by disabling and then enabling a trigger. The reason why it doesn't check for older HITs at search start is because it would have to share the panda time with panda jobs to check

[2021-01-27 16:45] JohnnyRS opened #39 "Loading search triggers should be faster"
Loading of search triggers may be too slow and could be sped up. Will be taking a look at that soon.

[2021-01-27 16:45] #33 closed, assigned to JohnnyRS

[2021-02-16 12:34] JohnnyRS opened #41 "Search Jobs include and exclude words may not work."
Requester ID and Group ID include and exclude words broke after custom searches was added. The triggers are not using the words for HITs. Need to fix this by finding out why custom searches uses those words but regular searches do not.

[2021-02-26 21:49] JohnnyRS commented on #41
Should be fixed in 0.9.30.

[2021-02-26 21:49] #41 closed, assigned to nobody

[2021-02-26 21:51] JohnnyRS commented on #37
May be fixed in 0.9.30 but not sure if totally will fix it yet.

[2021-03-03 11:01] jabby60 opened #42 "Excluded Group Ids and Exclude Words or Phrases not working"
First, great extension and thank you for it. Can't get search option in neither PandaUI nor SearchUI to abide by excluded group ids, words or phrases in latest version 0.9.30.0

[2021-03-04 05:56] vburnin8tor opened #43 "Clicking 'Done' on "Show Hits found by Trigger" does not close the popup window"
Clicking 'Done' on "Show Hits found by Trigger" does not close the popup window.

It seems to open an extra one in the background because I have to click 'Close' the same amount of times to get rid of it.
![chrome_9ScqU5deJI](https://user-images.githubusercontent.com/32801584/109918403-df5eee80-7c84-11eb-847a-65bfb7a1e63a.png)

[2021-03-08 06:37] mm2048 commented on #43
Have you verified the double instance by checking the page's source? I am running into a similar issue with the modal popups, but only a single instance exists.
- Developer panel (press F12)
- Console(Ctrl+Shift+J): page errors
- Elements(Ctrl+Shift+C): source

Also, any issues outside of this menu? I have been experimenting and been able to create some funky outcomes.
![](https://i.imgur.com/8NRO

[2021-03-08 06:42] mm2048 commented on #42
Just to clarify, is 0.9.30 the first version you have tried or was it working in 0.9.29 and after upgrading to 0.9.30 they stopped working for you?

[2021-03-08 14:13] jabby60 commented on #42
Recently just tried using keywords/phrases for the first time on the previous version and it didn't work. Then updated to the newest version and it still doesn't work. Also noticed that the SearchUI won't work if you have another search going on the PandaUI. Not sure if that's intended, but likely doesn't matter if all searches can be done in the SearchUI.

[2021-03-08 14:52] JohnnyRS commented on #42
I did some tests right now with exclude words and include words and it seems to work with the current version with all triggers. I did find that the groupID exclude may not be working. If you have a duplicate search on the pandaui that the searchui has it may not work but otherwise both should be working. Also remember when adding include or exclude words it will only work on newer HITs not older

[2021-03-08 21:03] jabby60 commented on #42
You're right. I forgot it won't work on older Hits. I was trying to exclude some older HIts from a requester and it kept accepting them. Thanks

[2021-03-09 01:12] JessicaEx opened #44 "The sound of alerts really loud, even when the volume is set to 5%"
The only way I can fix this is by turning the volume up for the first hit caught, then turning it down after. The alert sound volume is as it should be after that, but it resets every time I close the tab or restart the browser.

[2021-03-13 16:34] JohnnyRS commented on #44
Thanks! I'll be taking a look at it this weekend to see if I can fix the problem. It should use the saved volume but it seems that it's not doing that sometimes.

[2021-04-16 00:59] kacatuks opened #45 "pop-up with captcha is not appearing"
The settings are all right, I even installed the extension again and nothing from the captcha pop-up appears.

taking advantage of the topic.
Is there a way to delete the confirmation pop-up to delete a hit from the queue?
as it takes a long time to delete the hit when we need the queue to clear quickly. In the old extension it was faster

[2021-04-16 20:25] ando100 commented on #35
re-> Also can not drag the space line ->between sections-> Queue Watch and job cards.
Solved. Works very well, thank you.

[2021-06-09 15:26] seasons1981 opened #46 "Search Job Buttons Create Search UI Triggers"
When choosing FALSE on Search Job Buttons Create Search UI Triggers so you get a search instead of loaded with RID/GID, they do not actually notify you of anything found. it would be nice to even have the search result pop in to the "Custom Triggered Hits" tab instead of having to go find the result one by one on the RID/GID side.

[2021-06-23 16:03] seasons1981 opened #47 "Search to Max collecting"
There are many issues I am having with search/max.

Having a search send over to max works most of the time, but sometimes it just randomly stops sending it.  A lot of times though, it will send it over and immediately turn it off, no matter what the settings are. It doesn't even try to search on it more than 1 time.

Now, I am having the issue where my max side is ON, search side is ON and Allow

[2021-06-24 01:08] JohnnyRS commented on #47
Remember search triggers will only see and try to collect new HITs so if there are older HITs then it may not start collecting it. Be sure to check if there are any HITs duplicated on the panda page and search page. That can get the extension a bit confused. I will do more testing to see if I can figure out what else could be happening.

If you don't want a panda job to be collected anymore than j

[2021-06-24 11:30] seasons1981 commented on #47
I understand that it collects only new hits, but the issue would be where everything is turned on, but nothing is running.  Let me see if I can explain it better....

Let's say I have SEARCH sending over to MAX.  They are both ON, not paused.  Auto Allow is turned on, Search now is on. Now, typically, this would send it to MAX and it would either turn off or start the MAX part to collect. But it i

[2021-07-23 15:07] seasons1981 commented on #45
not only is a pop-up not appearing, but if you get a captcha (and clear it), pandacrazy stops working completely. You need to refresh EVERYTHING (even different scripts) to work normally again.

[2021-08-12 15:01] JohnnyRS commented on #45
The problem for me to fix this is I have no way of testing any fix because I don't get captchas. So I'll need more information on what is happening. This is the way that the extension detects a captcha:

1) If it tries to grab a HIT with a panda and it receives an OK code from MTURK with a html text returned then it checks the URL to see if it ends with 'assignment_id='. If the URL doesn't have th

[2021-10-05 21:27] xAkumu opened #49 "Captcha Alarm not going off"
I can't get my captcha alarm to work and it's really slowed me down. I've tried clearing my cache/cookies, reinstalling, and turning the alarm off and back on and nothing is working.

[2021-10-06 15:07] JohnnyRS commented on #49
Was the alarm working before? I changed a few things trying to detect captcha with the last update. I am not able to test it on my system.

[2021-10-06 16:47] xAkumu commented on #49
Yes it worked before. It stopped working after I cleared my cache and
cookies when I cleaned up my system.

On Wed, Oct 6, 2021, 8:07 AM JohnnyRS ***@***.***> wrote:

[2021-10-07 13:11] seasons1981 commented on #49
yeah, no sound or popup so we have no idea when we have one, unless you are working on a batch and know there are more available you would never know.

[2021-10-07 14:09] JohnnyRS commented on #49
Well if it worked before the new update I will revert the changes I made to the captcha detection to the previous update. I got a report that it wasn't working so I changed it. Also if someone that gets captchas can show me a screenshot of what is shown on the page with a captcha it could help me make the detection better. Thanks.

[2021-10-07 14:20] seasons1981 commented on #49
as in on the page we put our captcha in or what kind of information do you need?  I am more than willing to help you out with this, I just am not sure what screenshot would be needed. (plus there aren't many batches up that are worth it right now, so it is harder to get those captchas to come in)

[2021-10-07 14:35] JohnnyRS commented on #49
Right now it checks to see if the url it gets back from a panda doesn't have assignment_id= at the end and it doesn't get an error message than it assumes it probably is a captcha. What might be better is to have it look for a unique text on the page so it knows for sure. Lot of the screenshots of mturk captchas are from years ago so I want to see a screenshot of the text that tells the user to fi

[2021-10-07 18:56] xAkumu commented on #49
<img width="765" alt="928249699111d477bf0e3e7087a94519" src="https://user-images.githubusercontent.com/91992865/136445650-8621e5dd-53eb-4dc8-bf3c-89a1e04ac014.png">

heres a picture of the captcha, the alarm still isn't working

[2021-10-07 20:38] JohnnyRS commented on #49
Thanks. That's what I wanted. I'll see if I can get it to work in the next update.

[2021-10-08 12:59] #37 closed, assigned to JohnnyRS

[2021-10-08 13:00] #38 closed, assigned to JohnnyRS

[2021-10-08 17:52] JohnnyRS commented on #49
I updated the extension with a fix for the captchas and it looks like it's already live on chrome store. Should update next time you start up chrome. Hope it works.

[2021-10-09 03:36] xAkumu commented on #49
Thank you so much! Not only does the alarm go off now, I can do captchas in Panda Crazy now too.
I really appreciate it <3

[2021-11-04 03:22] aberfan commented on #35
On initial start of PC, the divider line is at the top, resulting in not being able to see _any_ of the groups. Dragging the Chrome tab out of the browser forces this to redraw. The behavior is still hinky, because sometimes the small drag corner isn't available. In the old script, it was possible to just move the bar at least by dragging.

[2021-11-04 03:31] aberfan opened #51 "Constant CPU usage."
PC now seems to use an almost constant CPU usage that varies between 6%-9.4% on my machine. This seems new. It's only on the most recent builds and despite being low is noticeable on my system.

I don't think my timers are far off from default, with 1s for panda, 950 for search and 2s for queue watching. I don't use whatever the search specific thing is and just use the "classic" panda/searches.

[2021-11-04 18:29] JohnnyRS commented on #51
Yes there is a mistake made when checking for ne HITs on the search page that is causing this. Working on a new update that will fix that issue. This also seems to be causing delays when turning panda's on and off which can cause a panda job to be stuck. Hope this will fix those problems as well. But I am planning on adding an error correction to find any panda jobs stuck.

The problem with runnin

[2021-11-04 18:36] aberfan commented on #51
I pull directly from github so maybe that's why. I don't use the Chrome store and don't want to.

Thank you for fixing things and glad to hear you know what the problems are.

For the search thing, yes. I have one panda running without others.  I've caught things in the past where it never showed up in a search, but panda gets it. These are mostly quals or some academic things, such as Samuel Gers

[2021-11-04 18:53] JohnnyRS commented on #51
But the thing is there is already a way to do exactly what you want manually. If you see a panda job that you want to run forever then turn it off and turn it on manually then it should run forever or that is how it is supposed to run. There may be some bugs that was causing it to stop but I believe it's all fixed now. Be sure the panda job options for the stop collecting are set to 0. Also check

[2021-11-04 19:03] aberfan commented on #51
Unlimited option for automated features should exist; the compromise here would simply be a menu option that you'd enable, that says '0' means forever.

I hear what you're saying, but there are definite cases where just an hour is too short. It's non-intuitive that there is an artificial limit. I recognize that my usage is much less than most people. I normally only do have one or two pandas on. I

[2021-11-04 20:58] JohnnyRS commented on #51
There's no technical reason I couldn't do it. But it goes against my number 1 rule of limits to automation and no limits to manually pressed stuff. I just updated this new version with the fixes. I changed the maximum temporary search panda duration to 6 hours from 2 hours but it's set in seconds. Hope that will do what you want. Also if you're not using the search page then be aware there are sea

[2022-01-07 19:36] Heptite opened #55 "Brave: "Please Wait. Loading up all data for you.""
On brave, with the latest update, it never gets past the "Please Wait. Loading up all data for you." dialog.

[2022-01-12 17:38] #55 closed, assigned to nobody

[2022-01-12 17:38] Heptite commented on #55
The update fixed this. Thank you.

[2022-01-26 13:38] jose777js opened #56 "Amazon's Policy Violation"
Does panda Crazy violate this Amazon usage policy?
I mean this policy: do not disrupt or harm the operation of the site or the integrity of the market (eg scripts and automation tools that call MTurk continuously and at high frequency are not OK). As a result, we will have to make hard calls from time to time when we notice unusual activity on the account resulting from a specific automation tool

[2022-01-26 14:11] JohnnyRS commented on #56
By default the timers are all set to a time that should not cause any PRE's. Panda timer is at 1 second, search timer is at 950ms and queue timer is at 2 seconds. It seems Amazon has different PRE settings for those 3 pages. If Amazon notices a high frequency lookup they send a PRE. The script shows how many PRE's it gets on the panda page and the search page. The script has a built in limit for a

[2022-01-26 14:38] jose777js commented on #56
Is it possible for me to receive Pres without Panda Crazy showing it?
Thanks for replying, sorry for bothering you

Em qua, 26 de jan de 2022 11:11, JohnnyRS ***@***.***>
escreveu:

[2022-01-26 15:10] JohnnyRS commented on #56
I would say it is very unlikely that the script wouldn't detect a PRE especially if Amazon is sending a lot of them. If using two scripts then there is a chance the other script is getting more PRE's than this script so the number wouldn't be accurate but it should be showing some at the top.

[2022-01-27 20:05] jose777js commented on #56
Sorry to bother you again. Just one more question, please. When Amazon says
that frequent calls are prohibited, in this case it is referring to Scripts
that give a lot of Pres, right? Or even if I configure a Script like Panda
Crazy to call Amazon every 3 seconds, Does Amazon consider this to be
calling it at high frequency? Is it possible to know how long a Script must
call Amazon to not be consi

[2022-01-27 23:32] JohnnyRS commented on #56
Amazon hasn't defined what would be called a high frequency that I know of. The PRE is our best way of knowing if it's too fast or fine. From my observations, panda calls get no PRE's at 1 second and search page calls get no PRE's at 1 second too. That is the default I set in the script. You may find the search page timer could be lower than 1 second though. Think about PRE as a warning but not as

[2022-01-28 01:04] jose777js commented on #56
Okay. Thanks for the answer and patience. God bless you

Em qui, 27 de jan de 2022 20:32, JohnnyRS ***@***.***>
escreveu:

[2022-01-28 11:25] mm2048 commented on #56
Amazon does not offer an API interface for workers. The documentation does not list throttle rates that trigger a slow down request (HTTP 429 response). My guess is that the AWS servers determine a value based on their server load.

I keep a steady 24/7 and have not had issues. I will notice 15-50 429 responses come up in a short 5-10 minute period. But then nothing for another week.

My interpret

[2022-03-21 17:44] seasons1981 opened #58 "Not Collecting?"
So I have a few Requester ID's on search in PC Search. I can see the hits in the dash, I can work on the hits in the dash, but PC search is not finding them at all.  Not a refresh, nothing is working.  Any ideas what this could be?

Other workers I am friends with say this is happening to them too.

[2022-05-27 11:14] m0n0cleman opened #59 "Complete Freeze after 4-5 minutes"
This just started happening this week. It happened with the newest update of Chrome. Adding a new job seems to un stick it for 5 minutes but then is freezes up again. I have been a user for a long time. I know I'm not alone.

https://www.reddit.com/r/mturk/comments/uyhvqu/whats_going_on_with_panda_crazy_max/

[2022-07-10 11:22] vburnin8tor opened #62 "[Request] Requestor Search Buttons on Qualifeye"
I like the idea of adding buttons similar to the forums, on the Qualifications page on Turkerview.com/qualifeye
Being able to add a requestor search with one click immediately after passing a qualification test would help with managing 'closed qual' requestors

This would solve the issue of manually having to manually create a requestor/GID search for each qualification test completed

[2022-09-26 09:36] Balachandarsmr opened #63 "Group ID search (GID) not working on main panda crazy UI"
GID search works on Search Crazy UI but not on panda crazy main UI.